.side-bar
    height: 100vh

.side-bar-header
    display: flex
    justify-content: center
    align-items: center
    padding: 20px 0
    font-size: 2rem
    font-weight: bold
    background: #0984e3
    color: white

.side-bar-content, .side-bar-footer
    background: #0984e3
    color: white

.pro-icon
    background: #0984e3c7
.pro-arrow
    color: white
    border-color: none

.pro-inner-list-item
    background: #74b9ff !important
